/*  your css code here. If applicable */
.main-container{
	background-color:lightgray;
	width:250px;
	text-align:center;
	padding:30px;
	box-shadow:2px 6px 10px 
}
img{
	width:150px;
	height:140px;
	
}
button{
	padding:12px;
	border-radius:10px;
	background-color: red;
	color:white;
}